<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="assets/heart-rate.png"/>
    <title>VitalsCare: Remote Patient Monitoring System</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
    <link rel="stylesheet" href="/static/css/header.css">
        <nav class="header__nav">
            <div class="header__logo">
                <h4>VitalsCare</h4>
                <div class="header__logo-overlay"></div>
            </div>

            <ul class="header__menu">
                <li>
                    <a href="#login">Log In</a>
                </li>
                <li>
                    <a href="#food">Dashboard</a>
                </li>
                <li>
                    <a href="#about-us">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
</body>

<section class="intro">
    <link rel="stylesheet" href="/static/css/intro.css">
    <div class="intro-image">
        <!-- We put the image of the project here! Just make sure the image is in the asset folder and uncomment the line below-->
        <!-- <img src="" alt="project_image"> --> 
        <div class="intro-image__overlay"></div>
    </div>

    <div class="intro-content">
      <div class="intro-content-info">
        <h1>Concerned about your health? Let us help you with that!</h1>
        <p>Test your heartbeat, tempature, and alcohol level at our website to get the quickest and most accurate result</p>
        <br>
        <br>

      <div class="intro-content__testimonial">
        <div class = "intro-content__customer flex-center">
          <h4>69,420<span>+</span></h4>
          <p>Happy Customers</p>
        </div>

        <div class="intro-content__review">
          <img src="/static/images/kris.png" alt="user" />
            <p>I was lucky to realize my health condition thanks to this website!</p>          
        </div>
      </div>
    </div>
</section>

</html>