<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/heart-rate.png"/>
    <title>VitalsCare: Remote Patient Monitoring System</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
    <link rel="stylesheet" href="/static/css/header.css">
        <nav class="header__nav">
            <div class="header__logo">
                <h4>VitalsCare</h4>
                <div class="header__logo-overlay"></div>
            </div>

            <ul class="header__menu">
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="#equipment">Equipment</a>
                </li>
                <li>
                    <a href="#dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="#about-us">About Us</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="intro" data-aos="slide-up" data-aos-delay="800">
        <link rel="stylesheet" href="/static/css/intro.css">
        
        <div class="intro-image" data-aos="zoom-in" data-aos-delay="800">
            <!-- Image placeholder -->
            <!-- <img src="" alt="project_image"> --> 
            <div class="intro-image__overlay"></div>
        </div>
    
        <div class="intro-content" data-aos="slide-right" data-aos-delay="800">
          <div class="intro-content-info" data-aos="fade-up" data-aos-delay="800">
            <h1>Concerned about your health? Let us help you with that!</h1>
            <p>Test your heartbeat, temperature, and alcohol level at our website to get the quickest and most accurate result.</p>
            <br><br>
          </div>
    
          <div class="intro-content__testimonial" data-aos="fade-in" data-aos-delay="800">
            <div class="intro-content__customer flex-center" data-aos="flip-left" data-aos-delay="800">
              <h4>69,420<span>+</span></h4>
              <p>Happy Customers</p>
            </div>
    
            <div class="intro-content__review" data-aos="fade-left" data-aos-delay="800">
              <img src="/static/images/kris.png" alt="user" />
              <p>I was lucky to realize my health condition thanks to this website!</p>
            </div>
          </div>
        </div>
    </section>

    <section class="equipment" id="equipment">
        <link rel="stylesheet" href="/static/css/equipment.css">
        <!-- Equipment Section -->
        <section class="heartbeat-equipment">
          <div class = "equipment__content"
          data-aos="slide-right"
          data-aos-delay="500">
            <p class="equip__subtitle">Equipments</p>
            <h3 class = "equip__title"> Heartbeat Sensor</h3>
            <p class="equip__description">Check your heartbeat at the tip of your finger</p>
      
            <ul class="equipment__list">
              <li>
                <div class="equipment__icon
                flex-center">
                  <img src="/static/images/check.svg"
                  alt="check"/> 
                </div>
                <p>Turn on the device</p>
              </li>
      
              <li>
                <div class="equipment__icon
                flex-center">
                  <img src="/static/images/check.svg"
                  alt="check"/> 
                </div>
                <p>Pinch the sensor with your thumb and index finger</p>
              </li>
      
              <li>
                <div class="equipment__icon
                flex-center">
                  <img src="/static/images/check.svg"
                  alt="check"/> 
                </div>
                <p>Get the result on our webpage</p>
              </li>
            </ul>
          </div>

          <div class="equipment_image
          flex-center">
            <img src="/static/images/heart-beat.png" alt="heartbeat-1"
            data-aos="slide-left"
            data-aos-delay="500"/>
            
            <div class="equipment__arrow
            equipment__arrow-left">
              <img src="/static/images/arrow-vertical.svg"
              alt="arrow-vertical"/>
            </div>
      
            <div class="equipment__arrow
            equipment__arrow-bottom">
              <img src="/static/images/arrow-horizontal.svg"
              alt="arrow-horizontal"/>
            </div>
          </div>
        </section>
    
        <section class="thermostat-equipment">
          <div class="equipment_image
          flex-center">
            <img src="/static/images/temperature.png" alt="thermostat"
            data-aos="slide-right"
            data-aos-delay="500"/>
            
            <div class="equipment__arrow
            equipment__arrow-top">
              <img src="/static/images/arrow-horizontal.svg"
              alt="arrow-horizontal"/>
            </div>
      
            <div class="equipment__arrow
            equipment__arrow-right">
              <img src="/static/images/arrow-vertical.svg"
              alt="arrow-vertical"/>
            </div>
          </div>
    
          <div class = "equipment__content"
          data-aos="slide-left"
          data-aos-delay="500">
            <h3 class = "equip__title"> Thermostat </h3>
            <p class="equip__description">Check your tempatures with our in-build thermostat</p>
      
            <ul class="equipment__list">
              <li>
                <div class="equipment__icon
                flex-center">
                  <img src="/static/images/check.svg"
                  alt="check"/> 
                </div>
                <p>Turn on the device</p>
              </li>
      
              <li>
                <div class="equipment__icon
                flex-center">
                  <img src="/static/images/check.svg"
                  alt="check"/> 
                </div>
                <p>Use your armpit to check your body tempature</p>
              </li>
      
              <li>
                <div class="equipment__icon
                flex-center">
                  <img src="/static/images/check.svg"
                  alt="check"/> 
                </div>
                <p>Check the result on our website!</p>
              </li>
            </ul>
          </div>
        </section>

        <section class="breathalyzer-equipment">
            <div class = "equipment__content"
            data-aos="slide-right"
            data-aos-delay="500">
              <h3 class = "equip__title"> Breathalyzer</h3>
              <p class="equip__description">Check your alcohol level to see if you're drunk or not</p>
        
              <ul class="equipment__list">
                <li>
                  <div class="equipment__icon
                  flex-center">
                    <img src="/static/images/check.svg"
                    alt="check"/> 
                  </div>
                  <p>Turn on the device</p>
                </li>
        
                <li>
                  <div class="equipment__icon
                  flex-center">
                    <img src="/static/images/check.svg"
                    alt="check"/> 
                  </div>
                  <p>Breath through our breathalyzer device</p>
                </li>
        
                <li>
                  <div class="equipment__icon
                  flex-center">
                    <img src="/static/images/check.svg"
                    alt="check"/> 
                  </div>
                  <p>Get the result on our webpage</p>
                </li>
              </ul>
            </div>
        
            <div class="equipment_image
            flex-center">
              <img src="/static/images/breathalyzer-device.png" alt="heartbeat-1"
              data-aos="slide-left"
              data-aos-delay="500"/>
              
              <div class="equipment__arrow
              equipment__arrow-left">
                <img src="/static/images/arrow-vertical.svg"
                alt="arrow-vertical"/>
              </div>
        
              <div class="equipment__arrow
              equipment__arrow-bottom">
                <img src="/static/images/arrow-horizontal.svg"
                alt="arrow-horizontal"/>
              </div>
            </div>
        </section>
    </section>

    <script>
        AOS.init({
            duration: 1000, // Animation duration in milliseconds
            easing: 'ease', // Animation easing function
            once: true, // Only animate once
        });
    </script>
</body>
</html>